<div style="padding: 10px; border-top: 1px solid #8899ff; background-color: #f8f8f8;">
<p>This document is part of the <a href="http://snapwebsites.org/">Snap! Websites Project</a>.</p>
<p>Copyright &copy; 2011-2013 by <a href="http://www.m2osw.com/">Made to Order Software Corp.</a></p>
</div>
