html
  head
    | p user.firstname 
  body
  video(width='320', height='240', controls='')
    source(src='movie.mp4', type='video/mp4')
    source(src='movie.ogg', type='video/ogg')
    source(src='movie.webm', type='video/webm')
    object(data='movie.mp4', width='320', height='240')
      embed(src='movie.swf', width='320', height='240')
